<div class="container">
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Ngx-Neo-Directives
  </h1>
</div>
<h2>Here are some usage examples: </h2>

<div class="form-group">
  <label for="exampleInput">Value</label>
  <input [isNumber] [neoAutofocus]="true" #inpNumber id="exampleInput" class="form-control" type="number"  [(ngModel)]="numberModel" [onReturn]="btnCommand" />
  <input id="exampleText" class="form-control" [changeCommand]="testCommand" />
  <input id="exampleTextTwo" class="form-control" [changeCommand]="testCommandTwo" />
</div>
<div class="for-group">
  <button  #btnCommand class="btn btn-primary" [command]="testCommand">Command execute</button>
  <button  #btnCommand class="btn btn-primary" [command]="testAsyncCommand">Command Async execute</button>
  <button  #btnCommand class="btn btn-primary" (click)="test()">Clic execute</button>
</div>
<div class="form-group">
    <input type="number" [(ngModel)]="inputDigital" [neoDecimalsDirective]=3>
    {{inputDigital}}
</div>

</div>